{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="messages">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
	</div>
	<div class="row content">
		<div class="col-md-6">
			<div class="inner rounded">
				<h1 class="border-bottom mb-4">{{ user.username }}</h1>
				<p>{{ user.email }}</p>

				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
					<legend class="border-bottom mb-4">Update Your Email Address</legend>
						{{ u_form | crispy }}
					</fieldset>
					<div class="form-group">
						<button type="submit">Update</button>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<div class="inner rounded">
				<h1 class="border-bottom mb-4">Saved Results</h1>
				{% if saved_files %}
					{% for file in saved_files %}
						<p><a href="{{ file.csv_file.url }}">{{ file.name }}</a></p>
					{% endfor %}
				{% else %}
					<p>You don't have any saved solutions yet.</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}